<style>
.thank-you-title {
    color: #313E2D;
}
.thank-you-paragraph {
    color: #020302;
}
</style>

<div class="flex flex-wrap w-5/6 mx-auto py-32">
    <div class="w-full text-center">
        <h1 class="text-6xl font-bold leading-none thank-you-title">{{ wpage.heroTitle }}</h1>
        <p class="text-lg pt-6 pb-12 thank-you-paragraph">{{ wpage.heroParagraph }}</p>
        <a href="{{ wpage.heroButtonLink }}">
            <button class="lg-filled-button">{{ wpage.heroButtonText }}</button>
        </a>
    </div>
</div>

<!-- <i class="text-5xl fas fa-user"></i>
<div class="py-12"></div>

<h1>H1 | Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h1>
<h2>H2 | Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
<h3>H3 | Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
<h4>H4 | Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
<h5>H5 | Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
<h6>H6 | Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>

<p>Paragraph | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

<a href="">
    Link | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
</a>

<ul>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
</ul>

<ol>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
</ol>

<button class="green-arrow-button">Button text | Go here and do that</button>

<button class="yellow-arrow-button">Button text | Go here and do that</button>

<address>Address | Lorem Ipsum is simply dummy text of the printing and typesetting industry.</address>

<blockquote>Blockquote | Lorem Ipsum is simply dummy text of the printing and typesetting industry.</blockquote>

<button class="filled-button">Button text | Go here and do that</button>

<button class="filled-white-button">Button text | Go here and do that</button>

<button class="yellow-outline-button">Button text | Go here and do that</button>

<button class="lg-filled-button">Button text | Go here and do that</button>

<code>Code | Lorem Ipsum is simply dummy text of the printing and typesetting industry.</code>

<form action="" >
    <label>First Name</label>
    <input type="text" name="First-Name" placeholder="input name here" />
    <select name="select-option">
        <option value="Select 1">Select 1</option>
        <option value="Select 2">Select 2</option>
        <option value="Select 3">Select 3</option>
        <option value="Select 4">Select 4</option>
    </select>
    <label>Message</label>
    <textarea name="Message" placeholder="input text here"></textarea>
    <input type="submit" value="Submit" />
</form>

<img src="https://res.cloudinary.com/animated-eagle/image/upload/v1583167329/greenZero/to-wordpress-or-not-to-wordpress.jpg" alt="Alt text" />


<div class="py-80"></div>
<div class="py-80"></div>
<div class="py-80"></div> -->