---
layout: base.njk
pagination:
    data: wpages
    size: 1
    alias: wpage
eleventyComputed:
  yoastHead: "{{ wpage.yoast|safe }}"
permalink: /{{ wpage.slug }}/index.html
---
{%- for item in pagination.items %}
    {% if item.template == "templates/about.php" %}
        {% include "pages/about.njk" %}
    {% elseif item.template == "templates/contact.php" %}
        {% include "pages/contact.njk" %}
    {% elseif item.template == "templates/thank-you.php" %}
        {% include "pages/thank-you.njk" %}
    {% elseif item.template == "templates/services.php" %}
        {% include "pages/services.njk" %}
    {% elseif item.template == "templates/process.php" %}
        {% include "pages/process.njk" %}
    {% elseif item.template == "templates/about.php" %}
        {% include "pages/about.njk" %}
    {% elseif item.template == "templates/privacy-and-terms.php" %}
        {% include "pages/privacy-and-terms.njk" %}
    {% endif %}
{% endfor -%}